* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#cabecalho {
    font-family:'Courier New', Courier, monospace;
    font-size: xx-large;
    text-align: center;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(80, 59, 59);
    color: antiquewhite;
}

a {
    color: antiquewhite;
    text-decoration: none;
}

#menu {
    text-align: center;
    font-weight: bold;
}

#menu div {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

#menu a:hover{
    background-color: blueviolet;
    border-radius: 30px;
    padding: 10px;
}

#imagemGeral img {
    padding: 15px;
}

#nossosDestaques {
    text-align: center;
    padding: 50px;
}

.produtoDestaque {
    display: flex;
}

.produtoDestaque div {
    flex-basis: 100%;
    margin: 50px;
}

.produtoDestaque img {
    max-width: 300px;
}

.produtoDestaque p {
    width: 300px;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.rodape div {
    margin: 100px;
}

